.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.buttonGroup {
  display: flex;
  margin-top: 2rem;
  gap: 10px; /* Space between buttons */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  background-color: #007bff; /* Default button background color */
  color: white; /* Text color */
}

.button:hover {
  background-color: #0056b3; /* Darker background on hover */
}

.button:active {
  transform: scale(0.98); /* Slightly shrink button on click */
}
