@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for Quill editor */
.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.ql-align-left {
    text-align: left;
}